<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saber+</title>
    <link rel="stylesheet" href="../../static/css/style1.css">
</head>
<body>
    <input type="checkbox" id="checkbox">
    <label class="btn" for="checkbox">M <span>e n u</span></label>

    <div class="sidebar">
        <ul>
            <a href="aluno.html"><li>Aluno</li></a>
            <a href="curso.html"><li>Curso</li></a>
            <a href="#"><li>Usuário</li></a>
            <a href="../login.html"><li>Sair</li></a>
        </ul>
    </div>

    <div class="container">
        <table id="customers">
            <tr>
                <th>RA</th>
                <th>Nome</th>
                <th>Cidade</th>
                <th>E-mail</th>
                <th>Telefone</th>
            </tr>
            <tr>
                <td>RA3001122</td>
                <td>Maria Anders</td>
                <td>São Carlos</td>
                <td>mary@mail.com</td>
                <td>16-99999-8888</td>
            </tr>
            <tr>
                <td>RA3001133</td>
                <td>Luiz Anders</td>
                <td>São Carlos</td>
                <td>luiz@mail.com</td>
                <td>16-99999-8888</td>
            </tr>
            <tr>
                <td>RA3001144</td>
                <td>Ana Anders</td>
                <td>São Carlos</td>
                <td>ana@mail.com</td>
                <td>16-98999-8888</td>
            </tr>
        </table>
    </div>
    
</body>
</html>