<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bulma.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <header>
        <h1 class="title is-1">Visualizar cursos</h1>
    </header>

    <div class="tabela">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Nome do curso</th>
                        <th>Duração(Anos)</th>
                        <th>Categoria</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Gastronomia</th>
                        <td>3</td>
                        <td>Culinaria</td>
                        <td>Curso de gastronomia voltado para restaurantes</td>
                    </tr>
                    <tr>
                        <th>Gastronomia</th>
                        <td>3</td>
                        <td>Culinaria</td>
                        <td>Curso de gastronomia voltado para restaurantes</td>
                    </tr>
                    <tr>
                        <th>Gastronomia</th>
                        <td>3</td>
                        <td>Culinaria</td>
                        <td>Curso de gastronomia voltado para restaurantes</td>
                    </tr>
                    <tr>
                        <th>Gastronomia</th>
                        <td>3</td>
                        <td>Culinaria</td>
                        <td>Curso de gastronomia voltado para restaurantes</td>
                    </tr>
                    <tr>
                        <th>Gastronomia</th>
                        <td>3</td>
                        <td>Culinaria</td>
                        <td>Curso de gastronomia voltado para restaurantes</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <footer>
        <button class="button is-link">Voltar</button>
    </footer>

</body>
</html>