/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #004AAD;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/* Estilos do conteúdo principal */
main {
  flex: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.welcome {
  text-align: center;
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  width: 25%;
  padding: 20px;
  text-align: center;
}

.feature h3 {
  margin-top: 0;
}

.feature p {
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #004AAD;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #004AAD;
}

/* Estilos do rodapé */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

