<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="title is-1">Login</h1>
    </header>


    <div class="container">
        <form action="post">
            <section>
                <label for="usuario">Usuário:</label>
                <input type="text" class="input is-primary" id="usuario"
                placeholder="Usuario" autofocus="autofocus"><br>
            </section>
            <section>
                <label for="senha">Senha:</label>
                <input type="password" class="input is-primary" id="senha"
                placeholder="Senha" autofocus="autofocus"><br>
            </section>
            <button class="button is-primary">Logar</button>
        </form>
    </div>

    <footer>
        <button class="button is-link">Visualizar cursos</button>
    </footer>

</body>
</html>